# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=project-csdlnc.database.windows.net
DB_PORT=1433
DB_NAME=DB_PetCareX
DB_USER=admin-csdlnc
DB_PASSWORD=PetCareX@HCMUSK23

DB_ENCRYPT=true
DB_TRUST_SERVER_CERT=false
DB_TYPE=mssql

# JWT Configuration
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h

# Loyalty Points Configuration
POINTS_PER_VND=100
BASIC_DISCOUNT=0
LOYAL_DISCOUNT=5
VIP_DISCOUNT=10

# Membership Tier Thresholds (VND)
LOYAL_TIER_THRESHOLD=5000000
VIP_TIER_THRESHOLD=20000000
